node_modules

/build
.env
.vercel
.env.local
.env.development
.env.prod
/scripts
/drizzle/seeds/prod

# Sentry Config File
.env.sentry-build-plugin
.mastra/
.auth/
playwright-report/
test-results/
.env*.local
.cache
public
archive